//@import "~bootstrap/scss/bootstrap";
//@import "~bootstrap/scss/_functions";
//@import "~bootstrap/scss/_variables";
//@import "~bootstrap/scss/_mixins";
//@import "~bootstrap/scss/_buttons";
//@import "~bootstrap/scss/_modal";
//@import "~bootstrap/scss/_tables";

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
//@import "~bootstrap/scss/_root";
//@import "~bootstrap/scss/_reboot";
//@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/_images";
//@import "~bootstrap/scss/_code";
//@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_buttons";
//@import "~bootstrap/scss/_transitions";
//@import "~bootstrap/scss/_dropdown";
//@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_input-group";
//@import "~bootstrap/scss/_custom-forms";
//@import "~bootstrap/scss/_nav";
//@import "~bootstrap/scss/_navbar";
//@import "~bootstrap/scss/_card";
//@import "~bootstrap/scss/_breadcrumb";
//@import "p~bootstrap/scss/_pagination";
//@import "~bootstrap/scss/_badge";
//@import "~bootstrap/scss/_jumbotron";
@import "~bootstrap/scss/_alert";
//@import "~bootstrap/scss/_progress";
//@import "~bootstrap/scss/_media";
//@import "~bootstrap/scss/_list-group";
@import "~bootstrap/scss/_close";
@import "~bootstrap/scss/_modal";
@import "~bootstrap/scss/_tooltip";
//@import "~bootstrap/scss/_popover";
//@import "~bootstrap/scss/_carousel";
//@import "~bootstrap/scss/_utilities";
//@import "~bootstrap/scss/_print";

@import "./leaflet";
@import "./L.Control.Sidebar";
@import "./L.Control.Locate";
@import "./fontello/css/fontello";

#mapid {
  height: 800px;
}

/*
.custom-control,
.custom-control2 {
    width: 150px;
    height: 30px;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
    background-color: brown;
    color: white;
}

.custom-control::before,
.custom-control2::before {
    content: 'Settings';
}

*/

/*
.custom-control:hover,
.custom-control2:hover
 {
    background-color: #ea3737;
}

*/

#fields-section tr:nth-child(even) {
  background-color: #f2f2f2;
}

#fields-section tr {
  line-height: 0.2em;
}

#submit-form {
  /* float: right; */
}

#task-completed input {
  width: 1em;
  height: 1em;
  position: relative;
}

label#task-completed {
  font-size: 1.5em;
  margin-left: 1em;
}

body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
}

.leaflet-sidebar.left {
  transition: left 0.2s, width 0.2s !important;
}

h1.sidebar-heading {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.2em;
}

.leaflet-tooltip.leaflet-clickable {
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 8px;
}

button.btn.btn-primary.open-project-button {
  margin: 0.5em;
}

h2.sidebar-sub-heading {
  font-size: 1.2em;
  background-color: #ababab;
  color: white;
  padding: 0.3em;
}

.leaflet-bar a.save-tiles-button,
.leaflet-bar a.remove-tiles-button {
  width: 9em;
}

.leaflet-bar a.save-tiles-button {
  background-color: #17a2b8;
  color: white;
  width: 9em;
}

.leaflet-bar a.remove-tiles-button {
  color: darkred;
  width: 9em;
}

.watermark {
  background-color: none;
  width: 10em;
}

.main-button-control {
}

/* ----------------- animated cog ---- */

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon-cog-spin:before {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.icon-cog:before {
  font-size: 1.5em;
}

.left-spacing {
  margin-left: 0.2em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.5);
  margin-top: 0.4em;
  margin-left: 2em;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-indez: 50000;
}

.info-window-button {
  padding: 3px 15px 3px 15px;
  font-size: 1.6em;
  border-radius: 5px;
}
